body{
	background-color: yellow;
}
header{
	background-color: green;
}
#content{
	background-color: orange;
	left: all;
	padding: 2px; 
	min-height: 200px;
}
footer{
	background-color: lightskyblue;
	color: white;
}
header,#content, footer{
	border-style: solid;
	border-width: 1px;
	border-color: darkgreen;
}
#wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	box-shadow: 5px 5px 5px black;
}
img{
	left: all;
}
